/* === MIXINS === */

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin bar-transitions {
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* === RESET === */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* === GENERAL === */

html {
	font-size: 62.5%;
}

body {
	scroll-behavior: smooth;
	font-family: "Raleway", sans-serif;
}

section {
	padding: 10px 30px;
}

p,
a {
	font-size: 1.4rem;
}

a {
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-heading {
	margin: 10px 0 20px;
	font-size: 3rem;
	font-weight: 300;
	text-align: center;
}

/* === HEADER === */

.header {
	width: 100%;
	justify-content: space-around;
	padding: 10px 20px;

	.wrapper {
		@include flex-center;
	}

	&__logo {
		width: 40%;
		@include flex-center;
		justify-content: flex-start;

		i {
			padding: 0 5px;
			font-size: 2.8rem;
			color: #414141;
		}
	}

	&__title {
		font-size: 2.6rem;
	}

	&__nav,
	&__nav-mobile {
		width: 70%;
	}

	&__nav-mobile {
		@include flex-center;
		align-items: flex-end;
		flex-direction: column;
	}

	&__mobile-burger {
		padding: 10px;
		cursor: pointer;
	}

	&__nav-list {
		display: none;
	}

	&__mobile-list {
		display: none;
	}

	&__mobile-burger:hover .bar-1,
	&__mobile-burger:hover .bar-3 {
		transform: scaleX(0);
		opacity: 0;
	}

	&__mobile-burger:hover .bar-2 {
		transform: rotate(45deg);
	}

	&__mobile-burger:hover .bar-2::after {
		transform: scaleY(1) rotate(90deg);
		opacity: 1;
	}

	.burger-bar {
		position: relative;
		width: 30px;
		height: 4px;
		background-color: #000000;
		margin: 5px 0px;
	}

	.bar-1,
	.bar-3 {
		@include bar-transitions;
	}

	.bar-2 {
		@include bar-transitions;
	}

	.bar-2::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000000;
		@include bar-transitions;
		transform: scaleY(0) rotate(45deg);
		opacity: 0;
	}
}

/* === BANNER === */

.banner {
	@include flex-center;
	flex-direction: column;
	height: 300px;
	position: relative;
	padding: 20px 60px;

	.wrapper {
		z-index: 99;
	}

	&__heading,
	&__text {
		color: #ffffff;
		z-index: 10;
		width: 100%;
		text-align: center;
	}

	&__heading {
		font-size: 1.6rem;
		font-weight: 500;
	}

	&__text {
		margin-top: 12px;
		font-size: 2.6rem;
		font-weight: 700;
	}

	&__image,
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__image {
		background-image: url("/dist/img/jungle-1807476_1280.jpg");
		background-size: cover;
	}

	&__shadow {
		background: #000000aa;
		z-index: 5;
	}
}

/* === ABOUT US ===*/

.aboutus {
	max-width: 100%;

	&__image {
		width: 100%;
	}

	&__heading {
		margin-top: 20px;
		margin-bottom: 16px;
		font-size: 2rem;
	}
}

/* === HERO === */

.hero {
	@include flex-center;
	position: relative;
	width: 100%;
	height: 200px;
	margin-top: 20px;
	text-align: center;

	.wrapper {
		z-index: 999;
	}

	&__bg,
	&__shadow {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__content {
		padding: 16px 20px;
		border: 1px solid #ffffff;
	}

	&__content p {
		font-size: 1.8rem;
		font-weight: 700;
		color: #ffffff;
	}

	&__bg {
		background-image: url("/dist/img/girl-5785590_1280.jpg");
		background-size: cover;
		z-index: -1;
	}

	&__shadow {
		background: #00110077;
	}
}

.offer {
	p,
	&__card-title,
	&__card-prize {
		text-align: center;
	}

	&__cards {
		@include flex-center;
		flex-wrap: wrap;
	}

	&__card {
		@include flex-center;
		flex-direction: column;
		width: 100%;
		background: #ffffff;
		border-radius: 10px;
		margin: 16px 0;
		padding: 20px 10px;
		box-shadow: 2px 2px 10px #cccccc;
	}

	&__card-title {
		margin-top: 16px;
		font-size: 2.2rem;
		font-weight: 500;
	}

	&__card-prize {
		margin: 20px 0 12px;
		font-size: 3.6rem;
	}

	&__card-list {
		list-style: none;
	}

	&__card-item {
		@include flex-center;
		margin: 7px 0;

		i {
			margin-right: 10px;
			font-size: 1.4rem;
		}

		.fa-check {
			color: #2ade72;
		}

		.fa-minus {
			color: #848484;
		}
	}

	&__card-button {
		width: 160px;
		margin: 20px 0;
		padding: 10px 20px;
		outline: none;
		border-radius: 7px;
		border: none;
		background: #ffffff;
		box-shadow: 1px 1px 5px #aaaaaa;
		font-family: "Raleway", sans-serif;
		color: #444444;

		&--best {
			background-color: #2ade72;
			box-shadow: 1px 1px 6px #2ade72;
			color: #000000;
		}
	}
}
