/* === COMPONENTS === */

/* === MIXINS === */

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin bar-transitions {
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* === RESET === */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* === GENERAL === */

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 69px;
}

body {
	
	font-family: "Raleway", sans-serif;
}

section {
	padding: 10px 30px;
}

p,
a {
	font-size: 1.4rem;
	line-height: 150%;
}

a {
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-heading {
	margin: 20px 0;
	font-size: 3rem;
	font-weight: 300;
	text-align: center;
}

main {
	margin-top: 69px;
}

/* === HEADER === */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	justify-content: space-around;
	padding: 10px 20px;
	z-index: 99999;
	background: #ffffff;
	

	.wrapper {
		@include flex-center;
	}

	&__logo {
		width: 40%;
		@include flex-center;
		justify-content: flex-start;

		i {
			padding: 0 5px;
			font-size: 2.8rem;
			color: #414141;
		}
	}

	&__title {
		font-size: 2.6rem;
	}

	&__nav,
	&__nav-mobile {
		width: 70%;
	}

	&__nav-mobile {
		@include flex-center;
		align-items: flex-end;
		flex-direction: column;
	}

	&__mobile-burger {
		padding: 10px;
		cursor: pointer;
	}

	&__nav-list {
		display: none;
		list-style: none;
	}

	&__mobile-list {
		display: none;
	}

	&__mobile-burger:hover .bar-1,
	&__mobile-burger:hover .bar-3 {
		transform: scaleX(0);
		opacity: 0;
	}

	&__mobile-burger:hover .bar-2 {
		transform: rotate(45deg);
	}

	&__mobile-burger:hover .bar-2::after {
		transform: scaleY(1) rotate(90deg);
		opacity: 1;
	}

	.burger-bar {
		position: relative;
		width: 25px;
		height: 3px;
		background-color: #000000;
		margin: 5px 0px;
	}

	.bar-1,
	.bar-3 {
		@include bar-transitions;
	}

	.bar-2 {
		@include bar-transitions;
	}

	.bar-2::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000000;
		@include bar-transitions;
		transform: scaleY(0) rotate(45deg);
		opacity: 0;
	}
}

/* === BANNER === */

.banner {
	@include flex-center;
	flex-direction: column;
	height: 300px;
	position: relative;
	padding: 20px 60px;

	.wrapper {
		z-index: 99;
	}

	&__heading,
	&__text {
		color: #ffffff;
		z-index: 10;
		width: 100%;
		text-align: center;
	}

	&__heading {
		font-size: 1.6rem;
		font-weight: 500;
	}

	&__text {
		margin-top: 12px;
		font-size: 2.6rem;
		font-weight: 700;
	}

	&__image,
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__image {
		background-image: url("/dist/img/jungle-1807476_1280.jpg");
		background-size: cover;
	}

	&__shadow {
		background: #000000aa;
		z-index: 5;
	}
}

/* === ABOUT US ===*/

.aboutus {
	max-width: 100%;

	&__image {
		width: 100%;
	}

	&__heading {
		margin-top: 20px;
		margin-bottom: 16px;
		font-size: 2rem;
	}
}

/* === HERO === */

.hero {
	@include flex-center;
	position: relative;
	width: 100%;
	height: 200px;
	margin-top: 20px;
	text-align: center;

	.wrapper {
		z-index: 999;
	}

	&__bg,
	&__shadow {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__content {
		padding: 16px 20px;
		border: 1px solid #ffffff;
	}

	&__content p {
		font-size: 1.8rem;
		font-weight: 700;
		color: #ffffff;
	}

	&__bg {
		background-image: url("/dist/img/girl-5785590_1280.jpg");
		background-size: cover;
		background-position: center;
		z-index: -1;
	}

	&__shadow {
		background: #00110077;
	}
}

/* === OFFER === */

.offer {
	p,
	&__card-title,
	&__card-prize {
		text-align: center;
	}

	&__cards {
		@include flex-center;
		margin: 20px 0;
		flex-wrap: wrap;
	}

	&__card {
		@include flex-center;
		flex-direction: column;
		width: 100%;
		background: #ffffff;
		border-radius: 10px;
		margin: 16px 0;
		padding: 20px 10px;
		box-shadow: 2px 2px 10px #cccccc;
	}

	&__card-title {
		margin-top: 16px;
		font-size: 2.2rem;
		font-weight: 500;
	}

	&__card-prize {
		margin: 20px 0 12px;
		font-size: 3.6rem;
	}

	&__card-list {
		list-style: none;
	}

	&__card-item {
		@include flex-center;
		margin: 7px 0;

		i {
			margin-right: 10px;
			font-size: 1.4rem;
		}

		.fa-check {
			color: #2ade72;
		}

		.fa-minus {
			color: #848484;
		}
	}

	&__card-button {
		width: 160px;
		margin: 20px 0;
		padding: 10px 20px;
		outline: none;
		border-radius: 7px;
		border: none;
		background: #ffffff;
		box-shadow: 1px 1px 5px #aaaaaa;
		font-family: "Raleway", sans-serif;
		color: #444444;

		&--best {
			background-color: #2ade72;
			box-shadow: 1px 1px 6px #2ade72;
			color: #000000;
		}
	}
}

/* === FOOTER === */

.footer {
	background-color: #f5f5f5;

	.wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 20px 30px;
	}

	&__logo {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;

		i {
			padding: 0 5px;
			font-size: 2.8rem;
			color: #414141;
		}

		span {
			font-size: 2.6rem;
		}
	}

	&__column {
		width: 50%;
		margin: 20px 0;
		padding: 0 10px;
	}

	&__heading {
		font-size: 1.9rem;
	}

	&__nav {
		list-style: none;

		li {
			margin: 5px 0;

			a {
				color: #646464;
			}
		}
	}

	&__copyright {
		border-top: 1px solid #707070;
		text-align: center;
	}

	&__copyright-text {
		padding: 20px 0;
	}
}

/* === MEDIA === */

@media screen and (min-width: 768px) {
	p,
	a {
		font-size: 1.6rem;
	}

	.section-heading {
		font-size: 3.4rem;
	}

	.header {
		width: 100%;
		justify-content: space-around;

		&__nav-list {
			display: flex;
			justify-content: flex-end;
		}

		&__nav-item {
			margin: 0;
			transition: background-color .3s ease-in-out;

			a {
				display: inline-block;
				padding: 20px 40px;
				color: #000000;
				transition: color .3s ease-in-out;
			}

			&--active {
				background: #000000;

				a {
					color: #ffffff;
				}
			}
		}

		&__nav-item:hover {
			background: #000000;
		}

		&__nav-item:hover a {
			color: #ffffff;
		}

		&__nav-mobile {
			display: none;
		}

		&__mobile-list {
			display: none;
		}
	}
	
	.banner {
		height: 460px;

		&__heading {
			font-size: 2rem;
		}

		&__text {
			font-size: 3rem;
		}
	}

	.aboutus {
		
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			margin-bottom: 30px;
		}

		.section-heading {
			width: 100%;
			margin: 30px 0;
		}

		&__image {
			width: 45%;
			padding-right: 20px;
		}

		&__text {
			width: 55%;
			padding-left: 20px;
		}

		&__heading {
			margin-top: 0;
		}
	}

	.hero {
		height: 360px;

		&__content {
			margin: 0 auto;
			max-width: 400px;
		}
	}

	.offer {
		&__card {
			width: 40%;
			margin: 20px;

			&:nth-child(2) {
				order: 3;
			}
		}

		&__card-title {
			font-size: 2.6rem;
		}

		&__card-prize {
			font-size: 4rem;
		}
	}

	.footer {

		&__column {
			width: 33.3%;
		}

		&__heading {
			font-size: 2.4rem;
		}

	}
}

@media screen and (min-width: 992px) {
	p,
	a {
		font-size: 2rem;
		line-height:200%;
	}

	.section-heading {
		font-size: 4.6rem;
	}

	.header {
		width: 100%;
		justify-content: space-around;
		padding: 0 20px;

		&__logo {
			i {
				font-size: 4.4rem;
				margin-right: 10px;
			}
			span {
				font-size: 4.4rem;
			}
		}

		&__nav-list {
			display: flex;
			justify-content: flex-end;
		}

		&__nav-mobile {
			display: none;
		}

		&__mobile-list {
			display: none;
		}
	}
	
	.banner {
		height: 460px;
		text-align-last: left;

		&__heading {
			font-size: 2.8rem;
			margin: 0;
		}

		&__text {
			margin-top: 10px;
			font-size: 4.7rem;
		}
	}

	.aboutus {
		
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			margin-bottom: 30px;
		}

		.section-heading {
			width: 100%;
			margin-top: 40px;
			margin-bottom: 50px;
		}

		&__image {
			width: 45%;
			padding-right: 20px;
		}

		&__text {
			width: 55%;
			padding-left: 20px;
		}

		&__heading {
			font-size: 3.2rem;
			
		}
	}

	.hero {
		height: 360px;

		&__content {
			margin: 0 auto;
			max-width: 1088px;
			
			p {
				font-size: 5.2rem;
			}

		}
	}

	.offer {

		&__cards {
			flex-wrap: nowrap;
		}

		&__card {
			width: 33.3%;

			&:nth-child(2) {
				order: 0;
			}

		}

		&__card-title {
			font-size: 2.6rem;
		}

		&__card-prize {
			font-size: 4rem;
		}

		&__card-button {
			width: 60%;
			font-size: 2rem;
		}
	}

	.footer {

		.wrapper {
			flex-wrap: nowrap;
		}

		&__logo {
			i {
				font-size: 6rem;
				margin-right: 12px;
			}

			span {
				font-size: 6rem;
			}
		}

		&__column {
			width: 33.3%;
		}

		&__heading {
			font-size: 2.7rem;
			margin-bottom: 20px;
		}

	}
}