/* +++++++++++++ COMPONENTS +++++++++++++ */

/* +++++++++++++ MIXINS +++++++++++++ */

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin bar-transitions {
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* +++++++++++++ RESET +++++++++++++ */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* +++++++++++++ MOBILE +++++++++++++ */

/* === GENERAL === */

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 49px;
}

body {
	font-family: "Raleway", sans-serif;
}

section {
	padding: 10px 30px;
}

p,
a {
	font-size: 1.4rem;
	line-height: 150%;
}

a {
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-heading {
	margin: 20px 0;
	font-size: 3rem;
	font-weight: 300;
	text-align: center;
}

main {
	margin-top: 69px;
}

.image-mobile {
	display: block;
}

.image-desktop {
	display: none;
}

/* === HEADER === */

.header {
	position: fixed;
	top: 0;
	width: 100%;
	justify-content: space-around;
	padding: 10px 20px;
	z-index: 99999;
	background: #ffffff;

	.wrapper {
		@include flex-center;
	}

	&__logo-container {
		position: relative;
	}

	&__logo {
		width: 40%;
		@include flex-center;
		justify-content: flex-start;

		a {
			color: #000000;
			line-height: 1;
		}

		i {
			padding: 0 5px;
			font-size: 2.8rem;
		}

		&-tree {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
				color 0.3s ease-in-out;
		}

		&-tree-1 {
			opacity: 1;
			z-index: 3;
			color: #414141;
		}

		&-tree-2 {
			color: #1abe5c;
			z-index: 2;
			display: none;
		}

		&-tree-3 {
			color: #149146;
			z-index: 1;
			display: none;
		}

		&:hover &-tree-1 {
			color: #2ade72;
		}

		&:hover &-tree-2 {
			opacity: 1;
		}

		&:hover &-tree-3 {
			opacity: 1;
		}

		&:hover .header__title {
			margin-left: 37px;
		}
	}

	&__title {
		margin-left: 37px;
		font-size: 2.8rem;
		transition: margin 0.3s ease-in-out;
	}

	&__nav,
	&__nav-mobile {
		width: 70%;
	}

	&__nav-mobile {
		@include flex-center;
		align-items: flex-end;
		flex-direction: column;
	}

	&__mobile-burger {
		padding: 10px;
		cursor: pointer;
		z-index: 9999999;
	}

	&__nav-list {
		display: none;
		list-style: none;
	}

	&__mobile-list {
		position: absolute;
		top: -100vh;
		left: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100vh;
		background-color: #ffffff;
		transition: top 0.3s ease-in-out;
		z-index: 999;

		&--active {
			top: 0;
		}

		a {
			font-size: 1.6rem;
			display: block;
			padding: 20px 40px;
			color: #000000;

			&:hover {
				color: #ffffff;
			}
		}
	}

	.burger-bar {
		position: relative;
		margin: 5px 0px;
		width: 25px;
		height: 3px;
		background-color: #000000;
	}

	.bar-1,
	.bar-3 {
		@include bar-transitions;
	}

	.bar-2 {
		@include bar-transitions;
	}

	.bar-2::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #000000;
		@include bar-transitions;
		transform: scaleY(0) rotate(45deg);
		opacity: 0;
	}

	&__mobile-burger--active .bar-1,
	&__mobile-burger--active .bar-3 {
		transform: scaleX(0);
		opacity: 0;
	}

	&__mobile-burger--active .bar-2 {
		transform: rotate(45deg);
	}

	&__mobile-burger--active .bar-2::after {
		transform: scaleY(1) rotate(90deg);
		opacity: 1;
	}
}

/* === HEADER === */

.banner {
	@include flex-center;
	flex-direction: column;
	height: 300px;
	position: relative;
	padding: 20px 60px;

	.wrapper {
		z-index: 99;
	}

	&__heading,
	&__text {
		color: #ffffff;
		z-index: 10;
		width: 100%;
		text-align: center;
	}

	&__heading {
		font-size: 1.6rem;
		font-weight: 500;
	}

	&__text {
		margin-top: 12px;
		font-size: 2.6rem;
		font-weight: 700;
	}

	&__image,
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__image {
		background-image: url("dist/img/banner-small.jpg");
		background-size: cover;
		background-position: center;
	}

	&__shadow {
		background: #000000aa;
		z-index: 5;
	}
}

/* === ABOUT US ===*/

.aboutus {
	max-width: 100%;

	&__image {
		width: 100%;

		&--large {
			display: none;
		}

		&--small {
			display: block;
		}
	}

	&__heading {
		margin-top: 20px;
		margin-bottom: 16px;
		font-size: 2rem;
	}
}

/* === HERO === */

.hero {
	@include flex-center;
	position: relative;
	width: 100%;
	height: 200px;
	margin-top: 20px;
	text-align: center;

	.wrapper {
		z-index: 999;
	}

	&__bg,
	&__shadow {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__content {
		padding: 16px 20px;
		border: 1px solid #ffffff;
	}

	&__content p {
		font-size: 1.8rem;
		font-weight: 700;
		color: #ffffff;
	}

	&__bg {
		background-image: url("dist/img/hero-small.jpg");
		background-size: cover;
		background-position: center;
		z-index: -1;
	}

	&__shadow {
		background: #00110077;
	}
}

/* === OFFER === */

.offer {
	p,
	&__card-title,
	&__card-prize {
		text-align: center;
	}

	&__cards {
		@include flex-center;
		margin: 20px 0;
		flex-wrap: wrap;
	}

	&__card {
		@include flex-center;
		flex-direction: column;
		width: 100%;
		background: #ffffff;
		border-radius: 10px;
		margin: 16px 0;
		padding: 20px 10px;
		box-shadow: 2px 2px 10px #cccccc;
	}

	&__card-title {
		margin-top: 16px;
		font-size: 2.2rem;
		font-weight: 500;
	}

	&__card-prize {
		margin: 20px 0 12px;
		font-size: 3.6rem;
	}

	&__card-list {
		list-style: none;
	}

	&__card-item {
		@include flex-center;
		margin: 7px 0;

		i {
			margin-right: 10px;
			font-size: 1.4rem;
		}

		.fa-check {
			color: #2ade72;
		}

		.fa-minus {
			color: #848484;
		}

		&--grey {
			color: #848484;
			font-weight: 100;
		}
	}

	&__card-button {
		width: 160px;
		margin: 20px 0;
		padding: 10px 20px;
		outline: none;
		border-radius: 7px;
		border: none;
		background: #ffffff;
		box-shadow: 1px 1px 5px #aaaaaa;
		font-family: "Raleway", sans-serif;
		color: #444444;
		transition: background-color 0.3s, box-shadow 0.3s;
		cursor: pointer;

		&:hover {
			box-shadow: 1px 1px 10px #dddddd;
		}

		&--best {
			background-color: #2ade72;
			box-shadow: 1px 1px 6px #2ade72;
			color: #000000;

			&:hover {
				background-color: #6af1a0;
				box-shadow: 1px 1px 10px #77f3a8;
			}
		}
	}
}

.offermore {
	margin-top: 30px;
	margin-bottom: 40px;
	@include flex-center;

	&__link {
		display: inline-block;
		font-size: 2rem;
		margin: 0 auto;

		padding: 0 20px;
		border-left: solid 5px #2ade72;
		border-right: solid 5px #2ade72;

		a {
			position: relative;
			font-size: 2rem;
			color: #2ade72;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 3px;
				background-color: #2ade72;
				transition: width 0.3s ease-in-out;
			}

			&:hover::after {
				width: 100%;
			}
		}
	}
}

/* === CONTACT === */

.contact {
	* {
		font-family: inherit;
	}

	margin-bottom: 30px;

	h3 {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 2.4rem;
		font-weight: 700;
	}

	.wrapper {
		@include flex-center;
		flex-wrap: wrap;
		width: 100%;
	}

	&__form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		padding: 10px 24px;
		background: linear-gradient(#f8f8f8, #fdfdfd);
		box-shadow: 3px 3px 7px #cccccc;

		input,
		textarea {
			width: 100%;
			padding: 5px 10px;
			margin: 10px 0;
			border: 1px solid #000000;
			outline: none;
			font-size: 1.4rem;
			transition: border 0.3s;
		}

		textarea {
			min-width: 100%;
			max-width: 100%;
			font-size: 1.4rem;
		}

		input:focus,
		textarea:focus {
			border-left-width: 10px;
			background: #f1f1f1;
		}

		label {
			font-size: 1.4rem;
			width: 100%;
			text-align: left;
			margin-top: 6px;
		}
	}

	&__form-text {
		text-align: center;

		h3 {
			padding: 0 10px;
			font-size: 2.3rem;
			border-left: solid 10px #2ade72;
			border-right: solid 10px #2ade72;
		}

		p {
			margin-bottom: 20px;
		}
	}

	&__form-required {
		margin-left: 1px;
		font-size: 120%;
		color: #ff0000;
	}

	&__form-error {
		width: 100%;
		margin: 0;
		color: #ff0000;
		font-size: 1.2rem;
		line-height: 100%;
		visibility: hidden;

		&--visible {
			visibility: visible;
		}
	}

	&__form-chekbox {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 10px;

		input,
		label {
			width: auto;
		}

		label {
			margin-left: 10px;
		}
	}

	&__form-button {
		position: relative;
		width: 100%;
		margin-bottom: 20px;
		padding: 16px 30px;
		font-size: 1.4rem;
		font-weight: 700;
		outline: none;
		border: solid 2px #000000;
		background: none;
		overflow: hidden;
		transition: color 0.3s ease-in-out;
		color: #000000;
		z-index: 999;
		cursor: pointer;

		&:hover {
			color: #ffffff;
		}
	}

	&__form-button::before {
		content: "";
		position: absolute;
		top: -400px;
		left: -400px;
		width: 800px;
		height: 800px;
		border-radius: 50%;
		background: #000000;
		transition: transform 0.3s ease-in-out;
		z-index: -1;
		transform: scale(0);
	}

	&__form-button:hover::before {
		transform: scale(1);
	}

	&__map {
		margin-top: 30px;
		width: 100%;
		height: 250px;
	}
}

/* === OFFER - PAGE === */

.offerpage {
	&__offers {
		display: flex;
		flex-wrap: wrap;
	}

	&__offer {
		position: relative;
		margin: 10px 0;
		padding-bottom: 30px;
		background-size: cover;
		background-position: center;
		overflow: hidden;
		filter: backdrop-blur(20px);
		border-bottom: solid 1px #eeeeee;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	&__offer-image {
		width: 100%;
		object-fit: cover;
		margin: 20px 0;
	}

	&__offer-title {
		position: relative;
		font-size: 2.5rem;
		z-index: 20;
	}

	&__offer-prize {
		position: relative;
		margin-top: 16px;
		font-size: 4rem;
		z-index: 20;
		padding-left: 10px;
		border-left: solid 10px #2ade72;
	}

	&__offer-description {
		margin-top: 20px;
		position: relative;
		z-index: 20;
	}
}

/* === FOOTER === */

.footer {
	background-color: #f5f5f5;

	.wrapper {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 20px 30px;
	}

	&__logo {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;

		i {
			padding: 0 5px;
			font-size: 2.8rem;
			color: #414141;
		}

		span {
			font-size: 2.6rem;
		}
	}

	&__column {
		width: 50%;
		margin: 20px 0;
		padding: 0 10px;
	}

	&__heading {
		font-size: 1.9rem;
	}

	&__nav {
		list-style: none;

		li {
			margin: 5px 0;

			a {
				color: #646464;
			}
		}
	}

	&__copyright {
		border-top: 1px solid #707070;
		text-align: center;
	}

	&__copyright-text {
		padding: 20px 0;
	}
}

/* +++++++++++++ TABLET +++++++++++++ */

@media screen and (min-width: 768px) {
	/* === GENERAL === */

	html {
		scroll-padding-top: 64px;
	}

	p,
	a {
		font-size: 1.6rem;
	}

	main {
		margin-top: 64px;
	}

	.image-mobile {
		display: none;
	}

	.image-desktop {
		display: block;
	}

	.section-heading {
		font-size: 3.4rem;
	}

	/* === HEADER === */

	.header {
		width: 100%;
		justify-content: space-around;
		padding: 0 20px;

		&__logo {
			i {
				font-size: 3.4rem;
			}

			&-tree-2,
			&-tree-3 {
				display: block;
			}

			&:hover &-tree-2 {
				opacity: 1;
				transform: translateX(12px) scale(0.75);
			}

			&:hover &-tree-3 {
				opacity: 1;
				transform: translateX(22px) scale(0.5);
			}

			&:hover .header__title {
				margin-left: 60px;
			}
		}

		&__title {
			margin-left: 45px;
			font-size: 3.2rem;
		}

		&__nav {
			width: 100%;
		}

		&__nav-list {
			display: flex;
			justify-content: flex-end;
		}

		&__nav-item {
			margin: 0;
			transition: background-color 0.3s ease-in-out;

			a {
				display: inline-block;
				padding: 20px 40px;
				color: #000000;
				transition: color 0.3s ease-in-out;
			}

			&--active {
				background: #000000;

				a {
					color: #ffffff;
				}
			}
		}

		&__nav-item:hover {
			background: #000000;
		}

		&__nav-item:hover a {
			color: #ffffff;
		}

		&__nav-mobile {
			display: none;
		}

		&__mobile-list {
			display: none;
		}
	}

	/* === BANNER === */

	.banner {
		height: 460px;

		&__heading {
			font-size: 2rem;
		}

		&__text {
			font-size: 3rem;
		}
	}

	/* === ABOUT US ===*/

	.aboutus {
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			margin-bottom: 30px;
		}

		.section-heading {
			width: 100%;
			margin: 30px 0;
		}

		&__image {
			width: 45%;
			padding-right: 20px;

			&--large {
				display: block;
			}

			&--small {
				display: none;
			}
		}

		&__text {
			width: 55%;
			padding-left: 20px;
		}

		&__heading {
			margin-top: 0;
		}
	}

	/* === HERO === */

	.hero {
		height: 360px;

		&__content {
			margin: 0 auto;
			max-width: 400px;
		}
	}

	/* === OFFER === */

	.offer {
		&__card {
			width: 40%;
			margin: 20px;

			&:nth-child(2) {
				order: 3;
			}
		}

		&__card-title {
			font-size: 2.6rem;
		}

		&__card-prize {
			font-size: 4rem;
		}
	}

	/* === CONTACT === */

	.contact {
		.wrapper {
			width: 100%;
			padding: 0;
			flex-wrap: wrap;
			align-items: stretch;
		}

		&__form {
			width: 50%;

			input,
			textarea {
				font-size: 1.6rem;
			}

			label {
				font-size: 1.6rem;
			}
		}

		&__form-text {
			h3 {
				font-size: 2.8rem;
			}
		}

		&__form-error {
			font-size: 1.4rem;
		}

		&__form-button {
			font-size: 1.6rem;
		}

		&__map {
			width: 50%;
			height: auto;
			margin-top: 0px;
			padding-left: 40px;
		}
	}

	/* === OFFER - PAGE === */

	.offerpage {
		&__offers {
			flex-wrap: wrap;
		}

		&__offer {
			width: 45%;
			margin: 0 2.5%;
		}
	}

	/* === FOOTER === */

	.footer {
		&__column {
			width: 33.3%;
		}

		&__heading {
			font-size: 2.4rem;
		}
	}
}

/* +++++++++++++ DESKTOP +++++++++++++ */

@media screen and (min-width: 992px) {
	/* === GENERAL === */

	html {
		scroll-padding-top: 80px;
	}

	p,
	a {
		font-size: 2rem;
		line-height: 200%;
	}

	main {
		margin-top: 80px;
	}

	.section-heading {
		font-size: 4.6rem;
	}

	/* === HEADER === */

	.header {
		width: 100%;
		justify-content: space-around;
		padding: 0 20px;

		&__logo {
			i {
				font-size: 4.4rem;
				margin-right: 10px;
			}
			span {
				font-size: 4.4rem;
			}

			&:hover &-tree-2 {
				opacity: 1;
				transform: translateX(20px) scale(0.75);
			}

			&:hover &-tree-3 {
				opacity: 1;
				transform: translateX(35px) scale(0.5);
			}

			&:hover .header__title {
				margin-left: 80px;
			}
		}

		&__title {
			margin-left: 60px;
		}

		&__nav-list {
			display: flex;
			justify-content: flex-end;
		}

		&__nav-mobile {
			display: none;
		}

		&__mobile-list {
			display: none;
		}
	}

	/* === HEADER === */

	.banner {
		height: 460px;
		text-align-last: left;

		&__heading {
			font-size: 2.8rem;
			margin: 0;
		}

		&__text {
			margin-top: 10px;
			font-size: 4.7rem;
			line-height: normal;
		}

		&__image {
			background-image: url("dist/img/banner-large.jpg");
		}
	}

	/* === ABOUT US ===*/

	.aboutus {
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			margin-bottom: 30px;
		}

		.section-heading {
			width: 100%;
			margin-top: 40px;
			margin-bottom: 50px;
		}

		&__image {
			width: 45%;
			padding-right: 20px;
		}

		&__text {
			width: 55%;
			padding-left: 20px;
		}

		&__heading {
			font-size: 3.2rem;
		}
	}

	/* === HERO === */

	.hero {
		height: 360px;

		&__content {
			margin: 0 auto;
			max-width: 900px;

			p {
				font-size: 3.7rem;
			}
		}

		&__bg {
			background-image: url("dist/img/hero-large.jpg");
		}
	}

	/* === OFFER === */

	.offer {
		&__cards {
			flex-wrap: nowrap;
		}

		&__card {
			width: 33.3%;

			&:nth-child(2) {
				order: 0;
			}
		}

		&__card-title {
			font-size: 2.6rem;
		}

		&__card-prize {
			font-size: 4rem;
		}

		&__card-button {
			width: 60%;
			font-size: 2rem;
		}
	}

	/* === CONTACT === */

	.contact {
		&__form {
			width: 35%;

			input,
			textarea {
				font-size: 2rem;
			}

			label {
				font-size: 2rem;
			}
		}

		&__form-text {
			h3 {
				font-size: 3.2rem;
			}
		}

		&__form-error {
			font-size: 1.6rem;
		}

		&__form-button {
			font-size: 2rem;
		}

		&__map {
			width: 65%;
			height: auto;
		}
	}

	/* === OFFER - PAGE === */

	.offerpage {
		&__offer {
			width: 26%;
			margin: 0 3.6%;
		}
	}

	/* === FOOTER === */

	.footer {
		.wrapper {
			flex-wrap: nowrap;
		}

		&__logo {
			i {
				font-size: 6rem;
				margin-right: 12px;
			}

			span {
				font-size: 6rem;
			}
		}

		&__column {
			width: 33.3%;
		}

		&__heading {
			font-size: 2.7rem;
			margin-bottom: 20px;
		}
	}
}
